{% extends "base.html" %}

{% block style %}
<style>
    .title {
        background-color: #dddddd;
    }

    .ordinary {
        background-color: #eeeeff;
    }

    .center {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div style="width: fit-content; margin: 0 auto;">
    <h2 style="text-align: center;">Список работ</h2>
    {% for job in jobs %}
    <h3>Задача # {{ job.id }}</h3>
    <div class="table_container">
        <table class="my_table">
            <tr class="my_row">
                <td class="title" style="width: 400px; ">Название</td>
                <td class="title" style="width: 150px; ">Главный</td>
                <td class="title center" style="width: 100px">Длительность</td>
                <td class="title center" style="width: 200px">Список сотрудников</td>
                <td class="title center" style="width: 100px">Окончена</td>
            </tr>
            <tr class="my_row">
                <td class="ordinary">{{ job.job.capitalize() }}</td>
                <td class="ordinary">{{ names[job.team_leader][0] }} {{names[job.team_leader][1] }}</td>
                <td class="ordinary center">{{ job.work_size }} часов</td>
                <td class="ordinary center">{{ job.collaborators }}</td>
                {% if job.is_finished %}
                <td class="ordinary center">Окончена</td>
                {% else %}
                <td class="ordinary center" style="background-color: #ffeeff">Не окончена</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}